In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Data/ppp_ETH_2019_1km_Aggregated_UNadj.csv")

In [4]:
df.Z.sum()

112078727.00356084

In [5]:
df.head()

           X          Y          Z
0  37.919583  14.895417  37.848526
1  37.927917  14.895417  30.088942
2  37.911250  14.887083  47.854710
3  37.919583  14.887083  59.771652
4  37.927917  14.887083  40.921535